<p>
  Escolher Ciclo:
</p>
<select [(ngModel)]="ciclo_selected" required>
    <option *ngFor="let ciclo of ciclos" [value]="ciclo.id">{{ciclo.tipo}}</option>
</select>
<button type="submit" (click)="escolheCiclo()">ATUALIZAR</button>
