<h2>
  Escolher valor do orcamento previsto:
</h2>
<h2>SALDO:</h2>
<p>{{jogador.saldo}}</p>
<input type="number" [(ngModel)]="valor"  required>
<button type="submit" (click)="montarOrcamento()">Montar Orcamento</button>