<p>
  Selecione a sua função:
</p>

<nav>
  <table>
    <thead></thead>
    <tbody>
      <tr>
        <td>
          <a routerLink="/professor" routerLinkActive="active">Professor</a>
        </td>
      </tr>
      <tr>
          <td>
            <a routerLink="/jogador" routerLinkActive="active">Jogador</a>
          </td>
      </tr>
    </tbody>
  </table>
</nav>
