<p>
    Selecione a sua ação:
</p>
  
  <nav>
    <table>
      <thead></thead>
      <tbody>
        <tr>
          <td>
            <a routerLink="/professor/problema" routerLinkActive="active">Cadastrar Problema</a>
          </td>
        </tr>
        <tr>
          <td>
            <a routerLink="/professor/etapa" routerLinkActive="active">Cadastrar Etapas</a>
          </td>
        </tr>
      </tbody>
    </table>
  </nav>
