<h2>
  Descricao do Problema:
</h2>
<p>{{problema_descricao}}</p>
<h2>
  Etapa:
</h2>
<p>{{etapa.nome}}</p>
<h2>
  Objetivos:
</h2>
<div *ngFor="let o of objetivo_list">
  <p> Especificacao: {{o.especificacao}}</p>
  <p> custo: {{o.custo_etapa}}</p>
</div>
<nav>
  <table>
    <thead></thead>
    <tbody>
      <tr *ngIf="ciclo==null && primeira_etapa_concluida!=true">
        <td>
          <a routerLink="/jogador/ciclo" routerLinkActive="active">Selecionar Ciclo</a>
        </td>
      </tr>
      <tr *ngIf="ciclo!=null && cronograma==null && primeira_etapa_concluida!=true">
        <td>
          <a routerLink="/jogador/cronograma" routerLinkActive="active">Montar Cronograma</a>
        </td>
      </tr>
      <tr *ngIf="ciclo!=null && cronograma!=null && orcamento==null && primeira_etapa_concluida!=true">
        <td>
          <a routerLink="/jogador/orcamento" routerLinkActive="active">Montar Orcamento</a>
        </td>
      </tr>
      <tr *ngIf="ciclo!=null && cronograma!=null && orcamento!=null && objetivo==null && atividades_enviadas==false && primeira_etapa_concluida!=true">
        <td>
          <button (click)="leObjetivo()">Ler Objetivo</button>
        </td>
      </tr>
      <tr *ngIf="ciclo!=null && cronograma!=null && orcamento!=null && objetivo!=null && atividades_enviadas==false && primeira_etapa_concluida!=true">
        <td>
          <h2>Construir Lista de Atividades</h2>
          <input type="text" [(ngModel)]="atividade" size="200" required>
          <button type="submit" (click)="adicionarNovaAtividade()">Adicionar</button>
        </td>
      </tr>
      <tr *ngIf="ciclo!=null && cronograma!=null && orcamento!=null && atividades_enviadas!=false && devs_contratados==null && primeira_etapa_concluida!=true">
        <td>
          <h2>Contratar Devs</h2>
          <div *ngIf="devs==null">
            <button (click)="getDevTipo()">Visualizar Devs</button>
          </div>
          <div *ngIf="devs">
            <p>Projetista:</p>
            <select [(ngModel)]="projetista_selected" required>
              <option *ngFor="let dev of devs.projetista" [value]="dev.id">Salario/Ciclo {{dev.salario_ciclo}} , Atividades por ciclo - {{dev.atividade_ciclo}}</option>
            </select>
            <p>DB:</p>
            <select [(ngModel)]="db_selected" required>
              <option *ngFor="let dev of devs.db" [value]="dev.id">Salario/Ciclo {{dev.salario_ciclo}} , Atividades por ciclo - {{dev.atividade_ciclo}}</option>
            </select>
            <p>Programador:</p>
            <select [(ngModel)]="programador_selected" required>
              <option *ngFor="let dev of devs.programador" [value]="dev.id">Salario/Ciclo {{dev.salario_ciclo}} , Atividades por ciclo - {{dev.atividade_ciclo}}</option>
            </select>
            <p>Tester:</p>
            <select [(ngModel)]="test_selected" required>
              <option *ngFor="let dev of devs.test" [value]="dev.id">Salario/Ciclo {{dev.salario_ciclo}} , Atividades por ciclo - {{dev.atividade_ciclo}}</option>
            </select>
            <button (click)="contrataDevs()">Contrata Devs</button>
          </div>
        </td>
      </tr>
      <tr *ngIf="ciclo!=null && cronograma!=null && orcamento!=null && atividades_enviadas!=false && devs_contratados!=null && recs==null && ( projetista_rec==null || db_rec==null || test_rec==null || programador_rec==null) && primeira_etapa_concluida!=true">
          <td>
            <h2>Alocar Recursos</h2>
            <div *ngIf="recs_disponiveis==null">
                <button (click)="getRecursos()">Visualizar Recursos</button>
            </div>
            <div *ngIf="recs_disponiveis">
              <div *ngIf="projetista_rec==null && db_rec==null && test_rec==null && programador_rec==null">
                <p>Recurso para o projetista:</p>
                  <select [(ngModel)]="projetista_rec_selected" required>
                      <option *ngFor="let rec_data of recs_disponiveis" [value]="rec_data.id">Custo do Recurso: {{rec_data.custo_ciclo}}</option>
                    </select>
                  <button (click)="alocarRecurso('projetista')">Alocar</button>
              </div>
              <div *ngIf="projetista_rec!=null && db_rec==null && test_rec==null && programador_rec==null">
                  <p>Recurso para o programador:</p>
                  <select [(ngModel)]="programador_rec_selected" required>
                      <option *ngFor="let rec_data of recs_disponiveis" [value]="rec_data.id">Custo do Recurso: {{rec_data.custo_ciclo}}</option>
                    </select>
                  <button (click)="alocarRecurso('programador')">Alocar</button>
              </div>
              <div *ngIf="projetista_rec!=null && db_rec==null && test_rec==null && programador_rec!=null">
                  <p>Recurso para o db:</p>
                  <select [(ngModel)]="db_rec_selected" required>
                      <option *ngFor="let rec_data of recs_disponiveis" [value]="rec_data.id">Custo do Recurso: {{rec_data.custo_ciclo}}</option>
                    </select>        
                  <button (click)="alocarRecurso('db')">Alocar</button>
              </div>
              <div *ngIf="projetista_rec!=null && db_rec!=null && test_rec==null && programador_rec!=null">
                  <p>Recurso para o tester:</p>
                  <select [(ngModel)]="test_rec_selected" required>
                      <option *ngFor="let rec_data of recs_disponiveis" [value]="rec_data.id">Custo do Recurso: {{rec_data.custo_ciclo}}</option>
                    </select>    
                  <button (click)="alocarRecurso('test')">Alocar</button>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="ciclo!=null && cronograma!=null && orcamento!=null && atividades_enviadas!=false && devs_contratados!=null  && analise_custo==null &&  ( projetista_rec!=null && db_rec!=null && test_rec!=null && programador_rec!=null) && primeira_etapa_concluida!=true">
            <td>
              <h2>Analisar Custo da Etapa</h2>
              <button (click)="analisarCustoEtapa()">Analisar Custo da Etapa</button>
            </td>
        </tr>
        <tr *ngIf="ciclo!=null && cronograma!=null && orcamento!=null && atividades_enviadas!=false && devs_contratados!=null  && (analise_custo!=null || primeira_etapa_rodada==true) && primeira_etapa_concluida!=true">
            <td>
              <h2>Rodar Primeira Etapa</h2>
              <button (click)="rodarPrimeiraEtapa()">Rodar Primeira Etapa</button>
            </td>
        </tr>
        <tr *ngIf="primeira_etapa_concluida==true">
          <td>
            <h2>Info do Projeto</h2>
            <table>
              <thead>
                <tr>
                  <td>
                    Saldo Disponivel
                  </td>
                  <td>
                      Orcamento
                  </td>
                  <td>
                     Cronograma
                  </td>
                  <td>
                      Ciclos executados
                   </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{jogador.saldo}}
                  </td>
                  <td>
                      {{orcamento.valor}}
                  </td>
                  <td>
                      {{cronograma.numero_ciclos}}
                  </td>
                  <td>
                      {{jogador.ciclos_exec}}
                  </td>
                </tr>
              </tbody>
            </table>

            <h2>Info do Time</h2>
            <table>
              <thead>
                <tr>
                  <td>
                    Tipo
                  </td>
                  <td>
                    Salario/Ciclo
                  </td>
                  <td>
                    Atividades/Ciclo
                  </td>
                  <td>
                    Numero de ciclos Indisponiveis  
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="programador_selected">
                  <td>
                    {{programador_selected.tipo}}
                  </td>
                  <td>
                    {{programador_selected.salario_ciclo}}
                  </td>
                  <td>
                    {{programador_selected.atividade_ciclo}}
                  </td>
                  <td>
                    {{programador_selected.numero_ciclo_indisponivel}}
                  </td>
                </tr>
                <tr *ngIf="projetista_selected">
                    <td>
                      {{projetista_selected.tipo}}
                    </td>
                    <td>
                      {{projetista_selected.salario_ciclo}}
                    </td>
                    <td>
                      {{projetista_selected.atividade_ciclo}}
                    </td>
                    <td>
                      {{projetista_selected.numero_ciclo_indisponivel}}
                    </td>
                </tr>
                <tr *ngIf="db_selected">
                    <td>
                      {{db_selected.tipo}}
                    </td>
                    <td>
                      {{db_selected.salario_ciclo}}
                    </td>
                    <td>
                      {{db_selected.atividade_ciclo}}
                    </td>
                    <td>
                      {{db_selected.numero_ciclo_indisponivel}}
                    </td>
                </tr>
                <tr *ngIf="test_selected">
                    <td>
                      {{test_selected.tipo}}
                    </td>
                    <td>
                      {{test_selected.salario_ciclo}}
                    </td>
                    <td>
                      {{test_selected.atividade_ciclo}}
                    </td>
                    <td>
                      {{test_selected.numero_ciclo_indisponivel}}
                    </td>
                </tr>
              </tbody>
            </table>
            <button (click)="leObjetivo()">Ler Objetivo</button>
            <button (click)="escolheAtividade()">Modifica Atividades</button>
            <button (click)="analisarCustoEtapa()">Analisar Custo da Etapa</button>
            <button (click)="escolheRecurso()">Alocar/Desalocar Recursos</button>
            <button (click)="rodarProximaEtapa()">Rodar Proxima Etapa</button>
          </td>
        </tr>
        <tr *ngIf="primeira_etapa_concluida==true && escolhe_atividade && atividades_enviadas!=true">
          <td>
                <h2>Construir Lista de Atividades</h2>
                <input type="text" [(ngModel)]="atividade" size="200" required>
                <button type="submit" (click)="adicionarNovaAtividade()">Adicionar</button>
          </td>
        </tr>
        <tr *ngIf="primeira_etapa_concluida==true && escolhe_atividade && atividades_enviadas==true">
            <td>
              <select [(ngModel)]="atividade_escolhida" required>
                  <option *ngFor="let att of ultimas_atividades_enviadas" [value]="att.id">{{att.descricao}}</option>
              </select>
              <input type="text"  [(ngModel)]="nova_descricao"/>
              <button (click)="modificaAtividades()">Atualizar Atividades</button>
            </td>
        </tr>
        <tr *ngIf="primeira_etapa_concluida==true && escolhe_recurso">
          <td>
              <select [(ngModel)]="dev_escolhido" required>
                  <option *ngFor="let att of devs_contratados_alterar" [value]="att.id">{{att.tipo}}</option>
              </select>
            <button (click)="alocaDesalocaRecursos()">Remover Dev/Recursos</button>
            <div *ngIf="devs_contratados_alterar.length<4">
              <div *ngIf="db_realoc==null">
                  <p>DB:</p>
                  <select [(ngModel)]="db_selected" required>
                      <option *ngFor="let dev of devs.db" [value]="dev.id">Salario/Ciclo {{dev.salario_ciclo}} , Atividades por ciclo - {{dev.atividade_ciclo}}</option>
                  </select>
                  <select name="db_rec_selected_new" [(ngModel)]="db_rec_selected_new" required>
                      <option *ngFor="let rec_data1 of recs_disponiveis" [value]="rec_data1.id">Custo do Recurso: {{rec_data1.custo_ciclo}}</option>
                  </select>
                  <button (click)="alocarRecursoNovaEtapa('db')">Alocar</button>
              </div>
              <div *ngIf="test_realoc==null">
                  <p>TEST:</p>
                  <select [(ngModel)]="test_selected" required>
                      <option *ngFor="let dev of devs.test" [value]="dev.id">Salario/Ciclo {{dev.salario_ciclo}} , Atividades por ciclo - {{dev.atividade_ciclo}}</option>
                  </select>
                  <select name="test_rec_selected_new" [(ngModel)]="test_rec_selected_new" required>
                      <option *ngFor="let rec_data2 of recs_disponiveis" [value]="rec_data2.id">Custo do Recurso: {{rec_data2.custo_ciclo}}</option>
                  </select>
                  <button (click)="alocarRecursoNovaEtapa('test')">Alocar</button>
              </div>
              <div *ngIf="prog_realoc==null">
                  <p>PROGRAMADOR:</p>
                  <select [(ngModel)]="programador_selected" required>
                      <option *ngFor="let dev of devs.programador" [value]="dev.id">Salario/Ciclo {{dev.salario_ciclo}} , Atividades por ciclo - {{dev.atividade_ciclo}}</option>
                  </select>
                  <select name="programador_rec_selected_new" [(ngModel)]="programador_rec_selected_new" required>
                      <option *ngFor="let rec_data3 of recs_disponiveis" [value]="rec_data3.id">Custo do Recurso: {{rec_data3.custo_ciclo}}</option>
                  </select>
                  <button (click)="alocarRecursoNovaEtapa('programador')">Alocar</button>
              </div>
              <div *ngIf="proj_realoc==null">
                  <p>PROJETISTA:</p>
                  <select [(ngModel)]="projetista_selected" required>
                      <option *ngFor="let dev of devs.projetista" [value]="dev.id">Salario/Ciclo {{dev.salario_ciclo}} , Atividades por ciclo - {{dev.atividade_ciclo}}</option>
                  </select>
                  <select name="programador_rec_selected_new" [(ngModel)]="projetista_rec_selected_new" required>
                      <option *ngFor="let rec_data4 of recs_disponiveis" [value]="rec_data4.id">Custo do Recurso: {{rec_data4.custo_ciclo}}</option>
                  </select>
                  <button (click)="alocarRecursoNovaEtapa('projetista')">Alocar</button>
              </div>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
</nav>
