<p>
  Cadastrar Etapas
</p>
<p>Nome:</p>
<input type="text" [(ngModel)]="nome" size="200" required>
<p>Especificacao do objetivo da etapa:</p>
<input type="text" [(ngModel)]="especificacao" size="200" required>
<p>Custo do objetivo da etapa:</p>
<input type="text" [(ngModel)]="custo" size="200" required>
<button type="submit" (click)="novaEspecificacao()">Adidionar Nova Especificacao de objetivo</button>
<button type="submit" (click)="cadastrarEtapas()">Finalizar</button>